body{
    background:#f9f9f9; 
    font-family: 'Roboto', sans-serif;
}
.container{ 
    width: 600px; 
    text-align: center; 
    margin: 40px auto;
}
h3{
    color: #1cb7b0; 
    font-size: 3em; 
    letter-spacing: 0.1em;
    margin-top: 0px; 
    margin-bottom: 10px; 
}
h4{
    font-size: 1em; 
    margin-top: 0px;
    margin-bottom: 40px; 
    text-transform: uppercase; 
}
#frame{
    width: 300px;
    margin: 0px auto;
    text-align: left;
    box-sizing: border-box;
}
.form-group{
    position: relative;
    margin-bottom: 20px;
}
.form-group input{
    width: 100%;
    font-size: 1em;
    color: grey;
    padding: 10px 10px;
    background: transparent;
    border: 1px solid gray;
    z-index: 9;
    box-sizing: border-box;
    display: block;
}
.form-group label{
    position: absolute;
    top: -2px;
    padding: 11px 10px;
    transition: all 200ms;
    opacity: 0.5;
    font-size: 1em;
    z-index: -1;
}

.form-group input:focus + label,
.form-group input:valid + label{
    top: 7px !important;
    left: 5px;
    font-size: 0.8em;
    transform: translate3d(0, -100%, 0);
    opacity: 1;
    padding: 0px 10px;
    background:#f9f9f9;
    z-index:1;
}