<!DOCTYPE html>
<html>
	<head>
		<title>STYLE RADIO</title>
		<link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="style.css">
		<script type="text/javascript" src="../jquery.js"></script>
		<script type="text/javascript" src="script.js"></script>
	</head>
	<body>
		<div class="container">
			<h3>STYLE RADIO</h3>
			<h4>DESIGN RADIO BENTUK KOTAK DENGAN INFORAMASI SEGARIS WARNA KETIKA AKTIF</h4>

			<div id="frame">
				<label for='mangga' class='custom-control custom-radio'>
                    <input type='radio' name='buah' id='mangga' value='mangga' class='custom-control-input'>
                    <span class='custom-control-label'>Mangga</span>
                </label>
                <label for='semangka' class='custom-control custom-radio'>
                    <input type='radio' name='buah' id='semangka' value='semangka' class='custom-control-input'>
                    <span class='custom-control-label'>Semangka</span>
                </label>
                <label for='durian' class='custom-control custom-radio'>
                    <input type='radio' name='buah' id='durian' value='durian' class='custom-control-input'>
                    <span class='custom-control-label'>Durian</span>
                </label>
			</div>
		</div>
	</body>
</html>